<div class="movie-flex">
  <mat-card *ngFor="let movie of movies" class="movie-card">
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle
        >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
      >
    </mat-card-header>
    <br />
    <img
      class="movie-poster"
      src="{{ movie.ImagePath }}"
      alt="{{ movie.Title }}"
    />
    <mat-card-actions>
      <!-- Button to Open Genre Modal -->
      <button mat-button color="primary" (click)="openGenreModal(movie)">
        Genre
      </button>

      <!-- Button to Open Director Modal -->
      <button mat-button color="primary" (click)="openDirectorModal(movie)">
        Director
      </button>

      <!-- Button to Open Movie Details Dialog -->
      <button
        mat-button
        color="primary"
        (click)="openMovieDetailsDialog(movie)"
      >
        Synopsis
      </button>

      <!-- Button to Add to Favorites -->
      <button mat-button color="primary" (click)="addToFavorites(movie._id)">
        <mat-icon>favorite_border</mat-icon>
      </button>

      <button
        mat-icon-button
        color="warn"
        (click)="deleteFavoriteMovie(movie._id)"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <button mat-button class="profile-button" [routerLink]="['/profile']">
    Go to Profile
  </button>
  <button
    mat-raised-button
    class="logout-button"
    (click)="logout()"
    color="warn"
  >
    Logout
  </button>
</div>
