<div style="display: flex">
  <mat-card *ngFor="let movie of movies" style="flex: 1 1 auto">
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
      <mat-card-subtitle
        >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
      >
    </mat-card-header>
    <img
      class="movie-poster"
      src="{{ movie.ImagePath }}"
      alt="{{ movie.Title }}"
    />
    <mat-card-actions>
      <!-- Button to Open Genre Modal -->
      <button mat-button color="primary" (click)="openGenreModal(movie)">
        Genre
      </button>

      <!-- Button to Open Director Modal -->
      <button mat-button color="primary" (click)="openDirectorModal(movie)">
        Director
      </button>

      <!-- Button to Open Movie Details Dialog -->
      <button
        mat-button
        color="primary"
        (click)="openMovieDetailsDialog(movie)"
      >
        Synopsis
      </button>

      <!-- Button to Add to Favorites -->
      <button mat-button color="primary" (click)="addToFavorites(movie)">
        <mat-icon>favorite_border</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
