<div class="profile">
  <button
    mat-raised-button
    color="primary"
    class="return-button"
    (click)="returnToMovies()"
  >
    Return to Movies
  </button>

  <h1 class="white-text">Your Profile</h1>

  <div class="white-background-section">
    <div class="grid">
      <div>
        <p>Username: {{ userData?.Username }}</p>
        <p>Email: {{ userData?.Email }}</p>
        <p>Birthday: {{ userData?.Birthday }}</p>
      </div>
      <mat-card>
        <mat-card-content>
          <form class="profile-form">
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="userData.Username"
                placeholder="Username"
                type="text"
                name="Username"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="userData.Password"
                type="password"
                placeholder="Password"
                name="Password"
                required
              />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                [(ngModel)]="userData.Email"
                type="email"
                placeholder="Email"
                name="Email"
                required
              />
            </mat-form-field>
            <h2>Your Favorite Movies</h2>
            <div *ngIf="favoriteMovies.length === 0">
              <p>No favorites yet.</p>
            </div>
            <ul>
              <li *ngFor="let movie of favoriteMovies">{{ movie.Title }}</li>
            </ul>
            <mat-card-actions class="button-container">
              <button mat-raised-button (click)="updateUser()" color="primary">
                Update User
              </button>
              <button mat-raised-button (click)="deleteUser()" color="warn">
                Delete Account
              </button>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
